<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EXUpdatesEnabled</key>
    <true />
    <key>EXUpdatesHasEmbeddedUpdate</key>
    <!-- Default: <true /> -->
    <false />
    <key>EXUpdatesCheckOnLaunch</key>
    <!-- Default: <string>ALWAYS</string> -->
    <string>ON_LOAD</string>
    <key>EXUpdatesLaunchWaitMs</key>
    <!-- Default:  <integer>0</integer> -->
    <integer>60000</integer>
    <key>EXUpdatesURL</key>
    <string>https://u.expo.dev/1d8dc04a-37bb-4990-9d86-15c0545f2c0e</string>
    <key>EXUpdatesRuntimeVersion</key>
    <string>1.0.0</string>
    <key>EXUpdatesRequestHeaders</key>
    <dict>
      <key>expo-channel-name</key>
      <string>main</string>
    </dict>
  </dict>
</plist>